{% extends "base.html" %} {% block content %}
<div class="row mt-3">
  <div class="col-3"></div>
  <div class="col-6">
    <h4 class="text-center">Create User Account</h4>
    <hr/>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="email" />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Reset Password</button>

      </div>
      
    </form>
  </div>
  <div class="col-3"></div>
</div>

{% endblock content %}
