{% extends "base.html" %}

{% block content %}
<div class="div text-center mt-5">
    
    <div class="alert alert-success" role="alert">
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
      </div>
      <a href="{% url 'home' %}" class="btn btn-info">Go Back Home</a>
</div>
{% endblock content %}